html, body {
	margin: 0;
	padding: 0;
}

#sitez a:visited {
    color:white;
    text-decoration: none;
}

#sitez a {
    color:white;
}

#main-logo {
    margin-top: 30px;
    padding: 20px;
    float:none;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.nav li img {
  margin-bottom: -6px;
  width: 30px;
}

.wallet {
   width: 100%;
   padding: 10px 0 90px 0;
  }

.main {
    display: block;
    margin: auto
    text-align: center;

}

.container {
    margin: 0 auto;
	max-width: 100%; 
}

.container > p {
    margin-bottom: 20px;
}

.main .container {
    display: block;
    margin: auto;
	max-width: 1200px; 
	padding: 40px; 
}


/* Header */
.header {
  background: url(Pictures/bg-blockchain.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  text-align: center; 
}

.header .container {
	position: relative;
	top: 200px;
}


.header h1 {
  text-shadow: 2px 2px black;
  font-family: 'Futura', sans-serif;
  color: white;
	line-height: 130px; 
	margin-top: 0px;
	margin-bottom: 60px;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 600%;
	}
}

.header > p {
  font-family: Futura;
  color: white;
  font-size: 100%;
	font-weight: 500;
	letter-spacing: 8px;
	margin-top: -50px;
  margin-bottom: 80px;
}

a:visited {
  color: white;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

li a:visited {
  color: black;
  text-decoration: none;
}

li a {
  color: black;
  text-decoration: none;
}

.btn {
  margin: auto;
  background: black;
  Height: 25px;
  width: 150px;
  text-decoration: none;
  padding: 10px;
}

btn:visited {
  margin: auto;
  background: black;
  Height: 50px;
  width: 80px;
  text-decoration: none;
}

.btn:hover {
	background: #117bff;
	cursor: pointer; 
	transition: background .5s;  
}


/* Nav */
.nav {  
 background-color: #F7F9F9;
 padding: 20px;
 height: 30px;
 margin-bottom: 10px;
}


.nav ul {
    font-size: 125%;
    display: inline;
	list-style: none;
	margin: 0 auto; 
	padding: 50px;
	text-align: center; 
}

.nav li:hover {
  padding: 10px;
  background: #117bff;
  cursor: pointer; 
  transition: background .5s;
  display: inline;
  margin: 10px;
}

.nav li {
  padding: 0 12px 0 12px;    
  display: inline;
  margin: 10px;
}

.container-bottom {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 130%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 25px;
  width: 30%;
  position: absolute; top: 200px; left: 500px;
}

.container-bottom h4 {
  margin-top: 30px;
}




/* Jumbotron */
.jumbotron {
    max-width: 100%;
    background-image: url(Pictures/blockchain-jumbotron.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	height: 800px;
    position: relative;
}



/* Media Queries */
@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }
    
}

  .main, .jumbotron {
    padding: 30px;
  }
  

#sitez {
    letter-spacing: 2px;
    margin-top: -80px;
    margin-bottom: 80px;
    font-size: 50%;
}

.main a {
    color: black;
    
}

.main a:visited {
    color: black;
    
}



.main .container {}
    





footer {
    text-align: center;
    color: white;
    background-color: black;
    height: 80px;
    clear: both;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

p #footer {
    text-align: center;
}

footer a {
    color: white;
}

footer a:visited {
    color: white;
}


.main h2 {
    margin-bottom: 60px;
    text-align: center;
}

#wallet {
    display: block;
    margin: auto;
    width: 650px;
}
